

body {
    background-image: url('770x4301.png');
    background-size: cover;
}

.container {

        h1 {
            color: red;
            font-weight: 800;
        }
        span {
            font-weight: 700;
            color: rgb(255, 255, 255);
        }
        li {
            padding: .2rem;
            cursor: pointer;
            color: rgb(225, 245, 179);
        }
    }



